/* High-level UI Flags */
/* Generics */
/* Interactive states */
/* Interactive additive */
/* Positions */
/* Misc */
/* Sizes */
/* Variants */
/* Color */
/* Min Max Clamp */
/* STR Replace */
/* Colors */
/* Sizes */
/* Font sizes */
/* Boilerplate */
/* High-level UI Flags */
/* Generics */
/* Interactive states */
/* Interactive additive */
/* Positions */
/* Misc */
/* Sizes */
/* Variants */
/* Color */
/* Min Max Clamp */
/* STR Replace */
/* OS Theme mixins */
/* Responsive mixins */
/* Mobile mixins */
/*
@mixin if-not-touch (){
    @media not (pointer:none), not (pointer:coarse) {
        @content;
    }
}

@mixin if-touch (){
    @media (pointer:none), (pointer:coarse) {
        @content;
    }
}
*/
/* Cosmetics */
/* Presets */
/* Color */
/* Min Max Clamp */
/* STR Replace */
/* Colors */
/* Sizes */
/* Font sizes */
/* Boilerplate */
/* High-level UI Flags */
/* Generics */
/* Interactive states */
/* Interactive additive */
/* Positions */
/* Misc */
/* Sizes */
/* Variants */
/* Color */
/* Min Max Clamp */
/* STR Replace */
/* High-level UI Flags */
/* Generics */
/* Interactive states */
/* Interactive additive */
/* Positions */
/* Misc */
/* Sizes */
/* Variants */
/* Color */
/* Min Max Clamp */
/* STR Replace */
/* Scrollbar mixins */
/* Size mixins */
/*
    Repeats the same value for multiple properties
*/
/*
    Spreads a list of value over multiple properties
    value length & properties length must be the same
*/
/* Interactive states mixins */
:host {
  padding: 0px;
}

:host(.horizontal) .body::-webkit-scrollbar {
  opacity: 0;
  height: 0px;
  width: 0px;
}