/*----------------------------*/
/*<!---- @nkmjs/ui-core ----!>*/
/*----------------------------*/

@import '../_constants';
@import '../_variables';
@import '../_mixins';
@import '../_functions';

@import './_button';

:host{

    height: var(--size);
    min-height: var(--size);
    max-height: var(--size);

    width: var(--size);
    min-width: var(--size);
    max-width: var(--size);

}

