@import '../_constants';
@import '../_variables';
@import '../_functions';
@import '../_mixins';

:host{
    --blur_strenght: 0; 
    backdrop-filter: blur(var(--blur_strenght));
    transition: backdrop-filter 0.25s linear;

    & .content{
        @include drop-shadow(0,50px,20px, rgba(0,0,0,0));
        transform: perspective(800px) scale(1.2) rotateX(20deg);
        opacity:0;
    }
    

}

:host(#{$SHOWN}){

    --blur_strenght: 5px;

    & .content{
        
        animation: scaleIn 150ms ease-in-out forwards;

        @keyframes scaleIn {
            to {
                @include drop-shadow(0,0,5px, rgba(0,0,0,1));
                transform: perspective(800px) scale(1) rotateX(0deg);
                opacity:1;
            }
        }

    }
    
}

