/* Color */
/* Min Max Clamp */
/* STR Replace */
/* Colors */
/* Sizes */
/* Font sizes */
/* Boilerplate */
/* High-level UI Flags */
/* Generics */
/* Interactive states */
/* Interactive additive */
/* Positions */
/* Misc */
/* Sizes */
/* Variants */
/* Color */
/* Min Max Clamp */
/* STR Replace */
/* High-level UI Flags */
/* Generics */
/* Interactive states */
/* Interactive additive */
/* Positions */
/* Misc */
/* Sizes */
/* Variants */
/* Color */
/* Min Max Clamp */
/* STR Replace */
/* OS Theme mixins */
/* Responsive mixins */
/* Mobile mixins */
/*
@mixin if-not-touch (){
    @media not (pointer:none), not (pointer:coarse) {
        @content;
    }
}

@mixin if-touch (){
    @media (pointer:none), (pointer:coarse) {
        @content;
    }
}
*/
/* Cosmetics */
/* Presets */
/* Color */
/* Min Max Clamp */
/* STR Replace */
/* Colors */
/* Sizes */
/* Font sizes */
/* Boilerplate */
/* High-level UI Flags */
/* Generics */
/* Interactive states */
/* Interactive additive */
/* Positions */
/* Misc */
/* Sizes */
/* Variants */
/* Color */
/* Min Max Clamp */
/* STR Replace */
/* High-level UI Flags */
/* Generics */
/* Interactive states */
/* Interactive additive */
/* Positions */
/* Misc */
/* Sizes */
/* Variants */
/* Color */
/* Min Max Clamp */
/* STR Replace */
/* Scrollbar mixins */
/* Size mixins */
/*
    Repeats the same value for multiple properties
*/
/*
    Spreads a list of value over multiple properties
    value length & properties length must be the same
*/
/* Interactive states mixins */
/* Scrollbar mixins */
:host {
  border-radius: 5px;
  filter: drop-shadow(0px 0px 20px black);
  background-color: #505050;
}

.group {
  padding: 20px;
}

.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid rgba(127, 127, 127, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.body {
  padding: 20px;
  padding-top: 0px;
}

.body::-webkit-scrollbar-track {
  background-color: rgba(127, 127, 127, 0.05);
}

.body::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0);
}

.body::-webkit-scrollbar-track-piece::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background-color: red;
}

.body::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: rgba(127, 127, 127, 0.05);
}

.body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.05);
}

.body:hover::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.body:hover::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.15);
}

.body::-webkit-scrollbar-corner {
  border: none;
  display: none;
  background-color: rgba(255, 255, 255, 0.1);
}

.item {
  margin-top: 5px;
  margin-bottom: 5px;
}

.icon {
  position: absolute;
  right: 20px;
  top: 20px;
  opacity: 0.5;
  transform: scale(5) rotate(15);
}