/*--------------------------*/
/*<!---- @nkmjs/style ----!>*/
/*--------------------------*/

@import './_mixins';
@import './_variables';
@import './_typography';

@import './_animations';

:host{
    transition: $transition_opacity;
    position: relative;
}

div{
    position: relative;
}

:host(:not(.unpainted)){
    opacity:1;
}

:host(.unpainted){
    //opacity:0;
    visibility: hidden !important;
}

:host(.disabled){
    filter: grayscale(1);
}

.icon.expand{
    cursor: pointer;
}

.FlipH{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.FlipV{
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

// ----> Host presets
// Sizes
@include for-each-host-selector('', $SIZES, '', '', $size_ids) using ($index, $val) {
    --size:var(#{$val});
}

// Flavors
@include for-each-host-selector('', $FLAVORS_EX, '', '', $col_flavors_ex_ids) using ($index, $val) {
    --flavor-color: var(#{$val});
    --flavor-color-rgb: var(#{$val+"-rgb"});

    --flavor-color-low: var(#{$val+'-low'});
    --flavor-color-low-rgb: var(#{$val+'-low-rgb'});

    --flavor-color-light: var(#{$val+'-high'});
    --flavor-color-light-rgb: var(#{$val+'-high-rgb'});
    
    --flavor-contrast:var(#{$val+'-contrast'});
}

// ----> Remove costly filters on (presumably) mobile
@media (hover: none) and (pointer: coarse) {
    * {
        //filter: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

@include scrollbar("", 4px);
