/*--------------------------*/
/*<!---- @nkmjs/style ----!>*/
/*--------------------------*/

@import './_mixins';
@import './_variables';
@import './_typography';

/*

// smartphones, touchscreens
@media (hover: none) and (pointer: coarse) { }
// stylus-based screens
@media (hover: none) and (pointer: fine) { }
// Nintendo Wii controller, Microsoft Kinect
@media (hover: hover) and (pointer: coarse) { }
// mouse, touch pad
@media (hover: hover) and (pointer: fine) { }


*/

// ----> Remove costly filters on (presumably) mobile
@media (hover: none) and (pointer: coarse) {
    *{
        filter:none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

// ----> Global Host Presets

*, :host{

    // Font sizes
    @for $i from 0 to length($font_size_varnames) { 
        #{nth($font_size_varnames, $i + 1)}: nth($font_size_values, $i + 1);
        #{nth($font_size_varnames, $i + 1)+'_title'}: nth($font_size_values, $i + 1) * 1.4;
    }

    // Sizes
    --size:var(#{$varname_size_m}); // Default size

    @for $i from 0 to length($size_varnames) { 
        #{nth($size_varnames, $i + 1)}: nth($size_values, $i + 1); 
        #{nth($size_varnames_half, $i + 1)}: nth($size_values_half, $i + 1); 
        #{nth($size_varnames_third, $i + 1)}: nth($size_values_third, $i + 1); 
    }

}

@include prefers_dark{
    :host{
        @for $i from 0 to length($col_flavors_ex_varnames) { 
            #{nth($col_flavors_ex_varnames, $i + 1)}: nth($col_flavors_ex, $i + 1);
            #{nth($col_flavors_ex_varnames, $i + 1)+'_contrast'}: nth($col_flavors_ex_bw, $i + 1);
        }
    }
}

@include prefers_light{
    :host{
        @for $i from 0 to length($col_flavors_ex_varnames) { 
            #{nth($col_flavors_ex_varnames, $i + 1)}: nth($col_flavors_ex, $i + 1);
        }
    }
}

@include scrollbar("", 4px);
@include scrollbar(":host", 4px);