/*--------------------------*/
/*<!---- @nkmjs/style ----!>*/
/*--------------------------*/

@import './_mixins';
@import './_variables';
@import './_typography';

.row-break {
    flex-basis: 100%;
    height: 0;
    width: 0%;
}

.column-break {
    flex-basis: 100%;
    height: 0%;
    width: 0;
}

:host{
    //transition: $transition_opacity;
}

:host(:not(.unpainted)){
    opacity:1;
}

:host(.unpainted){
    //opacity:0;
    visibility: hidden !important;
}

:host(.disabled){
    filter: grayscale(1);
}

.icon.expand{
    cursor: pointer;
}

.FlipH{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.FlipV{
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

// ----> Host presets
// Sizes
@include for-each-host-selector('', $SIZES, '', '', $size_varnames) using ($index, $val) {
    --size:var(#{$val});
}

// Flavors
@include for-each-host-selector('', $FLAVORS_EX, '', '', $col_flavors_ex_varnames) using ($index, $val) {
    --flavor-color: var(#{$val});
    --flavor-color-rgb: var(#{$val+"-rgb"});

    --flavor-color-dark: var(#{$val+'-dark'});
    --flavor-color-dark-rgb: var(#{$val+'-dark-rgb'});

    --flavor-color-light: var(#{$val+'-bright'});
    --flavor-color-light-rgb: var(#{$val+'-bright-rgb'});
    
    --flavor-contrast:var(#{$val+'-contrast'});
}

// ----> Remove costly filters on (presumably) mobile
@media (hover: none) and (pointer: coarse) {
    * {
        //filter: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

@include scrollbar("", 4px);

// Animations

@-webkit-keyframes rotating{
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);  
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.rotating-slow {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}

.rotating-fast {
    -webkit-animation: rotating 1s linear infinite;
    -moz-animation: rotating 1s linear infinite;
    -ms-animation: rotating 1s linear infinite;
    -o-animation: rotating 1s linear infinite;
    animation: rotating 1s linear infinite;
}