* {
  box-sizing: border-box
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  --nav-width: 350px;
  --bg-color:#333333;
  --nav-bg-color:#2b2b2b;
  --head-bg-color: #202020;
  --head-color: #ed1e79;
  --head-title-color: #ddd;
  --signature-color:#d5d5d5;
  --type-signature-color:#505050;
  --link-color:#3ec188;
  --master-title-color:#c7c7c7;

  color: #d1d1d1; /*#777777;*/
  background-color: var(--bg-color);
  margin: 0 auto;
  padding: 0;
  padding-right: 20px;
  font-family: 'Regular','Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #7a7a7a;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #919191;
}
::-webkit-scrollbar-thumb:active {
  background: #ffffff;
}
::-webkit-scrollbar-track {
  background: #242424;
  border: 0px none #ffffff;
  border-radius: 55px;
}
::-webkit-scrollbar-track:hover {
  background: #4d4d4d;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


img {
  max-width: 100%;
}

a,
a:active {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.details a,
.details a:active,
.details a:hover {
  color: #777777; /*#387a5d;*/
  text-decoration: none;
}

article a {
  border-bottom: 0 solid #ddd;
}

article a:hover, article a:active {
  border-bottom-color: #222;
}

article .description a {
    word-break: break-word;
}

p, ul, ol, blockquote {
  margin-bottom: 1em;
  line-height: 160%;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Title', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--master-title-color);
  font-weight: 400;
  margin: 0;
}

h1 {
  font-weight: 300;
  font-size: 48px;
  margin: 1em 0 .5em;
  text-shadow: 0 2px 0 #535353, 0 3px 0 #535353, 0 5px 5px rgba(0,0,0,0.8);
}

h1.page-title {
  font-size: 48px;
  margin: 1em 30px;
  line-height: 100%;
  word-wrap: break-word;
  text-shadow: 0 2px 0 #535353, 0 3px 0 #535353, 0 5px 5px rgba(0,0,0,0.8);
}

.fname + h1.page-title {
  margin-top: 10px;
}

.fname{
  font-size: 40px;
  font-family: 'Title', sans-serif;
  margin-top: 30px;
  margin-left: 30px;
  line-height: 100%;
  word-wrap: break-word;
  color:#ed1e79; /* #1d1916;*/
  text-shadow: 0px 1px 1px #4d4d4d;
}

h2 {
  font-size: 24px;
  margin: 1.5em 0 .3em;
}

h3 {
  font-size: 24px;
  margin: 1.2em 0 .3em;
}

h4 {
  font-size: 18px;
  margin: 1em 0 .2em;
  color: #4d4e53;
}

h4.name {
  color: #3ec188; /*var(--head-color);*/
  background: var(--head-bg-color);
  margin: 1.5em 0 0.5em;
  padding: .75em 0 .75em 10px;
  border-radius: 5px;
  margin-top: 30px;
}

h4.name.demo{
  background: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
  margin-top: 20px;
}

.details:empty + h4.name{
  margin-top: 60px;
}

.subsection-title + h4.name {
  margin-top: 20px;
}

.signal-box{
  padding: 20px 20px 10px 20px;
  border-radius: 5px;
  border:1px solid #2b2b2b;
  margin-top: 40px;
}

.signal-box.inherited{
  border: none;
  /*opacity: 0.65;*/
  margin-bottom: -20px;
}

.signal .details::before{
  font-family: "FA-Solid";
  content: "";
  margin: 0px 10px;
  color: white;
}

h4.signal{
  position: relative;
  font-family: "Regular", sans-serif;
  color: #9a9a9a;
  background: #2d2d2d;
  padding: .75em 0 .75em 10px;
  padding-left: 50px;
  border-radius: 5px;
  font-size: 15px;
  margin-top: -40px;
  margin-left: -10px;
  margin-right: -10px;
  overflow: hidden;
}

h4.signal::before{
  font-family: "FA-Solid";
  content: "";
  padding-top: 12px;
  position: absolute;
  width: 40px;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #202020;
  color: #353535;
  text-align: center;
}

.signal-name{
  color: #f4f4f4;
}

h4{
  position: relative;
}

h4.name a {
  color: var(--signature-color);
}

h4.name a:hover {
  border-bottom-color: var(--signature-color);
}

.item-body{
  position: relative;
  margin-top: -13px;
  padding-bottom: 15px;
}

.item-body.inherited{
  opacity: 0.65;
  padding-bottom: 0;
}

h4:target{
  background-color: #34446b;
}

h4:target::before{
  position: absolute;
  font-family: "FA-Solid";
  content:"";
  width: 30px;
  text-align: center;
  color: #ed1e79;
  left: -30px;
}

.inherited h4{
  background-color: #2d2d2d;
}

span.inherited-from{
  font-size: 11px;
}

h5, .container-overview .subsection-title {
  font-size: 120%;
  letter-spacing: -0.01em;
  margin: 8px 0 3px 0;
  color:#6f6f6f;
}

h6 {
  font-size: 100%;
  letter-spacing: -0.01em;
  margin: 6px 0 3px 0;
  font-style: italic;
}

.usertext h1 {
  font-family: "Title";
  font-size: 48px;
  margin: 1em 30px;
  margin-left: 0;
  line-height: 100%;
  word-wrap: break-word;  
}

.usertext h2 {
  font-family: "Title";
  font-size: 24px;
  margin: 1em 0 0.5em;
  font-weight: 400;

}

.usertext h3 {
  font-family: "Title";
  font-size: 18px;
  margin: 1em 0 0;
  font-weight: 400;
}

.usertext h4 {
  font-family: "Regular";
  font-size: 14px;
  margin: 10px 0 0;
  font-weight: 400;
}

.usertext h5 {
  font-size: 12px;
  margin: 1em 0 0;
  font-weight: normal;
  color: #666;
}

.usertext h6 {
  font-size: 11px;
  margin: 1em 0 0;
  font-weight: normal;
  font-style: normal;
  color: #666;
}

.usertext strong{
  color: #ffffff;
  font-weight: inherit;
}

.usertext .weak{
  color: #ffffff;
  font-weight: inherit;
}

.tip{
  display: block;
  position: relative;
  padding: 40px 13px 16px 50px;
  border-radius: 5px;
  color:#999;
  font-style: italic;
  background-color: #3e3e3e;
  /*font-size: 80%;*/
  line-height: 110%;
  margin:10px;
}

header .tip{
  font-size: 80%;
}

.tip::before{
  position: absolute;
  top: 15px;
  content: attr(data-title);
  color:#dedede;
  font-style: normal;
}

.tip::after{
  font-family: "FA-Solid";
    position: absolute;
    top: 15px;
    left: 10px;
    width: 30px;
    text-align: center;
    content: "";
    color: #6f6f6f;
    font-style: normal;
}


p > code{
  /*font-size: 80%;*/
  background-color: #23232373;
  color: #8da6ce;
  padding: 4px 6px;
}

.tip code{
  background-color: #23232373;
  color: #8da6ce;
  padding: 4px 6px;
}

.tip.infos{
  background-color: #34446b;
}
.tip.infos::after{ 
  content: ""; 
  color: #8da6ce;
}

.tip.warning{
  background-color: #2f2106;
  border: 1px solid #564a00;
}
.tip.warning::before{ 
  color:#fbde2d;
}
.tip.warning::after{ 
  content: ""; 
  color:#fbde2d;
}



tt, code, kbd, samp {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  background: #f4f4f4;
  padding: 1px 5px;
}

.class-description {
  color: #cacaca;
  font-size: 130%;
  line-height: 140%;
  margin-bottom: 1em;
  margin-top: 1em;
}

.description{
  color:#cacaca;
  padding-left: 10px;
}

.subsection-title{
  margin-bottom: 45px;
  color: #8da6ce; /*var(--head-color);*/
  font-size: 20px;
}

.subsection-title::before{
  font-family: "FA-Solid";
  content: "";
  color: #8da6ce;
  margin-right: 17px;
  margin-left: 4px;
  font-size: 15px;
}

.group-header-title{
  margin-bottom:10px;
}

nav .nav-group-header a:before,
.group-header-title:before{
  font-family: "FA-Regular";
  content: "";
}

.group-header-title:before{
  margin-right: 20px;
  font-size: 25px;
}

.class-description:empty {
  margin: 0
}

#main {
  float: right;
  width: calc(100% - var(--nav-width));
}

header {
  display: block
}

section {
  display: block;
  background-color: var(--bg-color);
  padding: 0 0 0 30px;
}

.variation {
  display: none
}

.signature-attributes {
  font-size: 60%;
  color: #8da6ce;
  font-style: italic;
  font-weight: lighter;
}

nav {
  float: left;
  display: block;
  width: var(--nav-width);
  background: var(--nav-bg-color);
  overflow: overlay;
  position: fixed;
  height: 100%;
  padding-left:20px;
  padding-top: 50px;
}

nav #nav-search{
    width: calc(var(--nav-width) - 40px);
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    margin-right: 20px;
    margin-top: -30px;
    background-color: #171717;
    border: none;
    border-bottom: 2px solid #89827452;
    color: #3ec188;
    position: fixed;
}

;

nav.wrap a{
    word-wrap: break-word;
}

nav h3 {
  margin-top: 12px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 24px;
  margin: 15px 0 10px;
  padding: 0;
  color: var(--master-title-color);
}

nav ul {
  font-family: 'Regular', sans-serif; /*font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;*/
  font-size: 100%;
  line-height: 17px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav ul a,
nav ul a:active {
  font-family: 'Regular', sans-serif;
    line-height: 18px;
    padding: 0;
    display: block;
    font-size: 12px;
}

a.current{
  color: #fff !important;
}

a.current::before{
  position: absolute;
  font-family: "FA-Solid";
  content: "";
  width: 30px;
  text-align: center;
  color: #ed1e79;
  left: 7px;
  margin-top: 1px;
  font-size: 90%;
}

nav .nav-group-header{
  line-height: 18px;
  font-size: 10px;
  margin-left: 6px;
  padding-top: 5px;
}

.nav-group-header a,
.nav-group-header a:active{
  border: none;
  color: #968274; /*var(--head-title-color);*/
  padding-left: 0;
  margin-left: -10px;
}

nav .nav-group-header a:before{
  margin-right: 5px;
  font-size: 12px;
  opacity: 0.5;
}

.namespace{
  color:#52665d !important
}

nav a .namespace{

}

.n-anchor{
  color:#3ec188;
}

nav ul .namespace{
  font-family: 'Regular', sans-serif;
  color: #ed1e79 !important;
  font-size: 11px;
  margin-top: 3px;
  margin-left: -10px;
  /* font-style: italic;*/
}

nav a:hover,
nav a:active {
  color: #f4f4f4;
}

nav > ul {
  padding: 0 10px;
}

nav > ul > li > a {
  color: #b7b7b7; /* var(--link-color); */
  font-weight: lighter;
  margin-top: 2px;
}

nav ul ul a {
  color: #848484;
  border-left: 1px solid #424242;
}

nav ul ul .inherited a  {
  color: #747474;
  opacity:0.65;
}

nav ul ul a:hover {
  color: #f4f4f4;
}

nav ul.group{
  margin-left: 5px;
}

nav ul ul a,
nav ul ul a:active {
  padding-left: 20px
}

nav h2 {
   font-size: 13px;
   margin: 10px 0 0 0;
   padding: 0;
}

nav > h2 > a {
   margin: 10px 0 -10px;
   font-family: 'Title', sans-serif;
   font-size: 16px;
   color: #968274 !important;
}

footer {
  color: #616161;
  margin-left: var(--nav-width);
  display: block;
  padding: 30px;
  font-style: italic;
  font-size: 90%;
  font-weight: 300;
}

.ancestors {
  color: #999
}

.ancestors a {
   color: #999 !important;
}

.clear {
  clear: both
}

.important {
  /*font-weight: bold;*/
  color: #ed741e;
}

.yes-def {
  text-indent: -1000px
}


.type-signature:last-child,
.type-signature:last-child a,
.type-signature:last-child a:active {
  color: #968274;
}

.type-signature:last-child a:hover{
  color: #c5ab98;
}

.type-signature:last-child .namespace{
  font-size: 10px;
  display:none;
}

.attrib-tags{
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 8px;
  margin-top: -24px;
}

nav .attrib-tags{
  position: absolute;
    margin: 0;
    margin-top: -20px;
    right: 10px;
}


nav .type-signature-tag{
  transform: scale(0.5);
  margin: 0;
  padding: 2px;
}

.attrib-tags:empty{
  display: none;
}

.type-signature-tag {
  flex: 0 0 auto;
  background-color: black;
  color:#949494;
  border-radius: 2px;
  padding: 4px 8px;
  margin-right: 5px;    
  font-size: 11px;
  text-transform: uppercase;
}

.type-signature{
  color: var(--type-signature-color);
  font-style: italic;
}

.tag-protected{
  background-color: #34446b;
  color:#8da6ce;
}

.tag-static{
  background-color: #423901;
    color: #fbde2d;
}

.tag-read-only{
  background-color: #333333;
  color: #52665d;
  border: 1px solid #202020;
}

.tag-slow{
  background-color: #000;
  color: #ff5454;
}

.tag-debug{
  background-color: #333333;
    color: #000000;
}

.tag-override-me{
  background-color: #7ca73f;
    color: #091227;
}

.name, .signature {
  font-family: Consolas, Monaco, 'Andale Mono', monospace
}

.signature {
    color: var(--signature-color);
}

.details {
  position: relative;
  padding-top: 6px;
  padding-bottom: 1px;
  line-height: 20px;
  font-size: 11px;
  background-color: #292929;
  margin-top: -13px;
  border-radius: 0px 0px 5px 5px;
}

.inherited .details{
  margin: -20px 10px 0px 10px;
  border-radius: 3px;
  background-color: #333333;
  border: 1px solid #232323;
  padding-top: 5px;
  padding-bottom: 0px;
}

.signal-box .details{
  margin: -13px 0px 0px 10px;
  position: relative;
}

.details dt {
   width: auto;
   float: left;
   padding-left: 10px;
}

.details dd {
   margin-left: 70px;
   /*margin-top: 6px;*/
   margin-bottom: 6px;
}

.details ul {
   margin: 0
}

.details ul {
   list-style-type: none
}

.details pre.prettyprint {
   margin: 0
}

.details .object-value {
   padding-top: 0
}

.description {
  margin-bottom: 1em;
  margin-top: 1em;
}

.code-caption {
  font-style: italic;
  font-size: 107%;
  margin: 0;
}

.prettyprint {
  line-height: 100%;
  font-size: 14px;
  overflow: auto;
  background: linear-gradient(307deg, rgba(0,0,0,0) 0%, rgba(221,221,221,0.1) 100%);
  color: #4D4E53;
  padding-top: 20px;
  border-radius: 5px;
}

.prettyprint::before{
  content: attr(data-title);
    color: white;
    position: absolute;
    margin-top: -10px;
    margin-left: 16px;
    font-size: 13px;
    font-style: italic;
    color: #757575;
}

.prettyprint.source {
  width: inherit;
  line-height: 18px;
  display: block;
}

.prettyprint code {
  line-height: 18px;
  display: block;
  padding: 15px;
  background: none;
}

.prettyprint .linenums code {
  padding: 0 15px
}

.prettyprint .linenums li:first-of-type code {
  padding-top: 15px
}

.prettyprint code span.line {
  display: inline-block
}

.prettyprint.linenums {
  padding-left: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.prettyprint.linenums ol {
   padding-left: 0
}

.prettyprint.linenums li {
   border-left: 3px #34446B solid;
}

.prettyprint.linenums li.selected, .prettyprint.linenums li.selected * {
   background-color: #34446B;
}

.prettyprint.linenums li * {
   -webkit-user-select: text;
   -moz-user-select: text;
   -ms-user-select: text;
   user-select: text;
}

.prettyprint.linenums li code:empty:after {
  content:"";
  display:inline-block;
  width:0px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  border-radius: 3px;
  background-color: #2f2f2f;
  width: 100%;
  font-size: 14px;
  margin: 1em 0;
}

thead{
  border: 1px solid #2f2f2f;
}

td, th {
   margin: 0px;
   text-align: left;
   vertical-align: top;
   padding: 10px;
   display: table-cell;
   font-family: "Regular";
   color:#616161;
   /*font-style: italic;*/
   font-weight: normal;
}

td.type, td.description{
  font-style: italic;
}

.tutorial td, 
.tutorial th {
  margin: 0px;
  text-align: left;
  vertical-align: top;
  padding: 10px;
  display: table-cell;
  font-family: "Regular";
  color: #969696;
  font-style: normal;
  font-weight: normal;
}

thead tr, thead tr {
   background-color: var(--bg-color);
   font-weight: bold;
}

.params{

}

table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.params .type {
  white-space: nowrap;
}

.params code, .props code, .signal-hook code {
  white-space: pre;
  background-color: #3c3c3c;
  border-radius: 3px;
}

.signal-hook code{
  color: #8da6ce;
}

.params td, .params .name, .props .name, .name code {
   color: #d6d6d6;
   font-family: Consolas, Monaco, 'Andale Mono', monospace;
   font-size: 100%;
}

.params td {
   border-top: 0 solid #eee
}

.params td.description > p:first-child, .props td.description > p:first-child {
   margin-top: 0;
   padding-top: 0;
}

.params td.description > p:last-child, .props td.description > p:last-child {
   margin-bottom: 0;
   padding-bottom: 0;
}

span.param-type, .params td .param-type, .param-type dd {
   color: #968274;
  font-family: Consolas, Monaco, 'Andale Mono', monospace
}

.param-type dt, .param-type dd {
  display: inline-block
}

.param-type {
  margin: 14px 0;
}

.disabled {
  color: #454545
}

/* navicon button */
.navicon-button {
  display: none;
  position: relative;
  padding: 2.0625rem 1.5rem;
  transition: 0.25s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: .8;
}
.navicon-button .navicon:before, .navicon-button .navicon:after {
  transition: 0.25s;
}
.navicon-button:hover {
  transition: 0.5s;
  opacity: 1;
}
.navicon-button:hover .navicon:before, .navicon-button:hover .navicon:after {
  transition: 0.25s;
}
.navicon-button:hover .navicon:before {
  top: .825rem;
}
.navicon-button:hover .navicon:after {
  top: -.825rem;
}

/* navicon */
.navicon {
  position: relative;
  width: 2.5em;
  height: .3125rem;
  background: var(--master-title-color);
  transition: 0.3s;
  border-radius: 2.5rem;
}
.navicon:before, .navicon:after {
  display: block;
  content: "";
  height: .3125rem;
  width: 2.5rem;
  background: var(--master-title-color);
  position: absolute;
  z-index: -1;
  transition: 0.3s 0.25s;
  border-radius: 1rem;
}
.navicon:before {
  top: .625rem;
}
.navicon:after {
  top: -.625rem;
}

/* open */
.nav-trigger:checked + label:not(.steps) .navicon:before,
.nav-trigger:checked + label:not(.steps) .navicon:after {
  top: 0 !important;
}

.nav-trigger:checked + label .navicon:before,
.nav-trigger:checked + label .navicon:after {
  transition: 0.5s;
}

/* Minus */
.nav-trigger:checked + label {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}

/* × and + */
.nav-trigger:checked + label.plus .navicon,
.nav-trigger:checked + label.x .navicon {
  background: transparent;
}

.nav-trigger:checked + label.plus .navicon:before,
.nav-trigger:checked + label.x .navicon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: var(--nav-bg-color);
}

.nav-trigger:checked + label.plus .navicon:after,
.nav-trigger:checked + label.x .navicon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: var(--nav-bg-color);
}

.nav-trigger:checked + label.plus {
  -webkit-transform: scale(0.75) rotate(45deg);
          transform: scale(0.75) rotate(45deg);
}

.nav-trigger:checked ~ nav {
  left: 0 !important;
}

.nav-trigger:checked ~ .overlay {
  display: block;
}

.nav-trigger {
  position: fixed;
  top: 0;
  clip: rect(0, 0, 0, 0);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.5);
  z-index: 1;
}

/* nav level */
.level-hide {
    display: none;
}
html[data-search-mode] .level-hide {
    display: block;
}


@media only screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
    padding-left: 20px;
  }

  nav {
    background: #1d1d1d; /*var(--nav-bg-color);*/
    width: var(--nav-width);
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: calc(var(--nav-width) * -1);
    z-index: 3;
    padding: 0 10px;
    transition: left 0.2s;
    padding-right:20px;
  }

  .navicon-button {
    display: inline-block;
    position: fixed;
    top: 1.5em;
    right: 0;
    z-index: 2;
  }

  #main {
    width: 100%;
  }

  #main h1.page-title {
    margin: 1em 0;
  }

  #main section {
    padding: 0;
  }

  footer {
    margin-left: 0;
  }

  .fname + h1.page-title {
    margin-top: 10px !important;
  }
  
  .fname{
    margin-left: 0;
  }
}

.content-group{
  padding-top: 20px;
}

.group-header{
  font-family: 'Title', sans-serif;
  font-size: 18px;
  /*font-style: italic;*/
  color: var(--head-title-color);
  margin-top:30px;
}

.group-header > span:first-of-type{
  font-size: 30px;
}

.group-description{
  font-family: 'Regular', sans-serif;
  font-size: 14px;
  color: #8a8a8a;
}

.group-header:only-child{
  display: none;
}

/** Add a '#' to static members */
[data-type="member"] a::before {
  content: '⮀';
  display: inline-block;
  margin-left: -14px;
  margin-right: 5px;
  font-size: 10px;
}

[data-type="read-only"] a::before {
  content: '⭠';
  display: inline-block;
  margin-left: -14px;
  margin-right: 5px;
  font-size: 10px;
}

[data-type="members"].subsection-title::before{
  content: "";
}

[data-type="methods"].subsection-title::before{
  content: "";
}

#disqus_thread{
    margin-left: 30px;
}

@font-face { 
  font-family: 'Regular'; 
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face { 
  font-family: 'Title'; 
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/d-din/D-DINCondensed.otf') format('opentype');
}


@font-face { 
  font-family: 'FA-Regular'; 
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fa/fa-regular-400.ttf') format('truetype');
}


@font-face { 
  font-family: 'FA-Solid'; 
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/fa/fa-solid-900.ttf') format('truetype');
}