/*----------------------------*/
/*<!---- @nkmjs/ui-core ----!>*/
/*----------------------------*/

@import './_constants';
@import './_functions';

$default_states_ids:
    str-replace($IDLE, '.'),
    str-replace($FOCUSED, '.'),
    str-replace($SELECTED, '.'),
    #{str-replace($SELECTED, '.')+'-'+str-replace($FOCUSED, '.')},
    str-replace($TOGGLED, '.');

$short_states_ids:
    'i',
    'f',
    's',
    'sf',
    't';

$tree_indent: 24px;
$folder_indent: 24px;

$varname_tree_indent: '--tree-indent';
$varname_tree_size: '--tree-size';

$varname_folder_indent: '--folder-indent';
$varname_folder_size: '--folder-size';

$overlay_bg_dark: rgba(#191919, 0.5);
$overlay_bg_light: rgba(#f0f0f0, 0.5);

$drawer_bg_dark: #3d3d3d;
$drawer_bg_light: #f0f0f0;

$varname_drawer_bg: '--col-drawer-bg';
$varname_overlay_bg: '--col-overlay-bg';