
@import './_constants';
@import './_functions';

$default_states_ids:
    str-replace($IDLE, '.'),
    str-replace($FOCUSED, '.'),
    str-replace($SELECTED, '.'),
    #{str-replace($SELECTED, '.')+'_'+str-replace($FOCUSED, '.')};

$short_states_ids:
    'i',
    'f',
    's',
    'sf';

$tree_indent: 24px;

$varname_tree_indent: '--tree_indent';
$varname_tree_size: '--tree_size';

$overlay_bg_dark: rgba(#191919, 0.5);
$overlay_bg_light: rgba(#f0f0f0, 0.5);

$drawer_bg_dark: #191919;
$drawer_bg_light: #f0f0f0;

$varname_drawer_bg: '--col_drawer_bg';
$varname_overlay_bg: '--col_overlay_bg';