/*----------------------------*/
/*<!---- @nkmjs/ui-core ----!>*/
/*----------------------------*/

@import './_mixins';
@import './_variables';


// ----> Extended color schemes (state color variations)

:host{

    // For each flavor color

    @for $i from 0 to length($col_flavors_ex) { 
        
        $base_color: nth($col_flavors_ex, $i + 1);
        $flavor_name: str-replace(nth($col_flavors_ex_varnames, $i + 1), '--col-');
        $flavor_id: $i+1;

        // Create per-state variants

        $main_color: rgba($base_color, 0.2);
        $secondary_color: rgba($base_color, 0.5);

        @include state-color-variations( $main_color, $secondary_color, 0.5, 0.8 )
        using( $index, $st, $p, $s, $c ){
            $short_state: nth($short_states_ids, $index);
            #{'--fcol-'+$flavor_id+'-0-'+$short_state}: $p;
            #{'--fcol-'+$flavor_id+'-1-'+$short_state}: $s;
            #{'--fcol-'+$flavor_id+'-2-'+$short_state}: $c;
        }

    }

    #{$varname_drawer_bg}: $drawer_bg_dark;
    #{$varname_overlay_bg}: $overlay_bg_dark;
}