/*----------------------------*/
/*<!---- @nkmjs/ui-core ----!>*/
/*----------------------------*/

@import './_mixins';
@import './_variables';

// ----> Extended color schemes (state colors)

:host{
    order: var(--order);
}

@include for-each-host-selector('', $FLAVORS_EX, '', '', $col_flavors_ex_varnames) 
using ($index, $val){

    --flavor_color: var(#{$val});
    --flavor_contrast:var(#{$val+'_contrast'});

    $val: str-replace($val, '--col_');
    $flavor_id: $index;

    @include for-each-in($default_states_ids) using ($i, $st){
        $short_state: nth($short_states_ids, $i);
        #{'--flavor_primary_'+$st}:var(#{'--fcol_'+$flavor_id+'_0_'+$short_state});
        #{'--flavor_secondary_'+$st}:var(#{'--fcol_'+$flavor_id+'_1_'+$short_state});
        #{'--flavor_contrast_'+$st}:var(#{'--fcol_'+$flavor_id+'_2_'+$short_state});
    }

}

/* Icon */

.icon {
    
    margin:4px;
    padding: 0;
    
    --h-size:calc( var(--size) / 2);
    --clamped-size: clamp(var(#{$varname_size_xs}), var(--h-size), var(#{$varname_size_l}));

    width: var(--clamped-size);
    min-width: var(--clamped-size);
    max-width: var(--clamped-size);

    height: var(--clamped-size);
    min-height: var(--clamped-size);
    max-height: var(--clamped-size);

    //border: 3px solid #e5e5e5;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    opacity: 0.8;

    //border-radius: 1000px;

    box-sizing: border-box;

    background: url("./assets/icons/icons-01.svg");

    &:only-child{
        margin:0;
    }

}

div.icon{
    display: inline-block;
}

@import './_icons';

/* Extensions */

.ext-overlay{
    @include click-through-overlay();
    border-radius: 3px;
    box-sizing: border-box;
}

.drag-overlay{
    border: 1px solid #{$col_active};
}

.drop-target-overlay{
    border: 1px solid #{$col_ready};
}