
/* OS Theme mixins */

@mixin prefers_dark(){
    @media (prefers-color-scheme: dark){
        @content;
    }
}

@mixin prefers_light(){
    @media (prefers-color-scheme: light){
        @content;
    }
}

/* Responsive mixins */

// Mobile
@mixin responsive_mobile(){
    @media only screen and (max-width: 767px){
        @content;
    }
}

// Tablet
@mixin responsive_tab(){
    @media only screen and (max-width: 767px)
    and (max-width: 1024px){
        @content;
    }
}

// Variable
@mixin responsive($minWidth, $maxWidth){
    @media only screen and (min-width: $minWidth) 
    and (max-width: $maxWidth){
        @content;
    }
}

/* Mobile mixins */

/*
@mixin if-not-touch (){
    #{'@media not (pointer:none), not (pointer:coarse)'} {
        @content;
    }
}

@mixin if-touch (){
    #{'@media (pointer:none), (pointer:coarse)'} {
        @content;
    }
}
*/

/* Cosmetics */

@mixin box-shadow($top, $left, $blur, $size, $color) {
    -webkit-box-shadow: $top $left $blur $size $color;
    -moz-box-shadow: $top $left $blur $size $color;
    box-shadow: $top $left $blur $size $color;
}

@mixin drop-shadow($x, $y, $blur, $color) {
    filter: drop-shadow($x $y $blur $color);
}

/* Presets */

@mixin no-select{

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@mixin overlay($padding: null){
    position: absolute;
    width:100%; 
    height:100%;
    
    @if ( $padding == null ){
        top: 0;
        left: 0;
    } @else {
        top: -$padding;
        left: -$padding;
        padding:$padding;
    }
}

@mixin click-through-overlay($padding: null) {
    @include overlay($padding);
    pointer-events: none;
}

@mixin ellipsis($left: false){
    white-space: nowrap;                   
        overflow: hidden;
        text-overflow: ellipsis; 

        @if $left {
            direction: rtl;
            text-align: left;
        }
}
