@font-face { 
    font-family: 'Regular'; 
    src: url('./fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face { 
    font-family: 'Title'; 
    src: url('./fonts/d-din/D-DINCondensed.otf') format('opentype');
}