@import '../_constants';
@import '../_variables';
@import '../_functions';
@import '../_mixins';

/* Base CSS for all buttons */

$btnBorderRadius: 3px;

:host{

    box-sizing: border-box;

    transition: all 0.15s ease;

    position: relative;    

    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;

    padding: 2px;

    border-radius: $btnBorderRadius;

    background-color:rgba(0,0,0,0.5);
    border: none;

    --flavor_primary_disabled:rgba(0,0,0,0.1);
    --flavor_secondary_disabled:rgba(0,0,0,0.1);
    --flavor_contrast_disabled:rgba(0,0,0,0.5);

    @include state-color-variations( rgba(50,50,50,0.65), rgba(140,140,140,0.5), 1, 0.8) 
    using ( $index, $st, $p, $s, $c){
        #{'--flavor_primary_'+$st}: $p;
        #{'--flavor_secondary_'+$st}: $s;
        #{'--flavor_contrast_'+$st}: $c;
    }

    &::after{
        transition: all 0.15s ease;
        background-color: var(--flavor_secondary_focused);
    }

}

// ----> States

:host(#{$IDLE}){
    //opacity:1;
    background-color: var(--flavor_primary_idle);
    border-color: var(--flavor_secondary_idle);

    & .label{
        color: var(--flavor_contrast_idle);
    }
}

$th: 4px;

:host(#{$FOCUSED}){

    @include drop-shadow( 0px, 0px, 1px, rgba(0,0,0,1));

    background-color: var(--flavor_primary_focused);
    border-color: var(--flavor_secondary_focused);

    & .label{
        color: var(--flavor_contrast_focused);
    }

}

:host(#{$SELECTED}){

    background-color: var(--flavor_primary_selected);
    border-color: var(--flavor_secondary_selected);

    & .label{
        color: var(--flavor_contrast_selected);
    }

}

:host(#{$SELECTED+$FOCUSED}){

    background-color: var(--flavor_primary_selected_focused);
    border-color: var(--flavor_secondary_selected_focused);

    & .label{
        color: var(--flavor_contrast_selected_focused);
    }

}

// ----> Toggled state :: after
// visual marker

:host(#{$FOCUSED})::after,
:host(#{$TOGGLED})::after{
    content:"";
    position: absolute;
    width: $th;
    height:$th;
    border-radius: 10px;

    top: auto;
    bottom: -$th/2; // Default state ~= top
}

// ----> Horizontal placement
// [  .  ][  '  ]

:host(#{$TOP})::after{
    top: auto;
    bottom: -$th/2;
}

:host(#{$BOTTOM})::after{
    top: -$th/2;
    bottom: auto;
}

:host(#{$FOCUSED})::after,
:host(#{$FOCUSED}#{$TOP})::after,
:host(#{$FOCUSED}#{$BOTTOM})::after{
    left:calc(50% - #{$th/2});
}

:host(#{$TOGGLED})::after,
:host(#{$TOGGLED}#{$TOP})::after, 
:host(#{$TOGGLED}#{$BOTTOM})::after{
    left:3px;
    width: calc(100% - 6px);
}


// ----> Vertical placement

:host(#{$LEFT})::after{
    left:auto;
    right: -$th/2;
}

:host(#{$RIGHT})::after{
    left: -$th/2;
    right:auto;
}

:host(#{$FOCUSED}#{$LEFT})::after,
:host(#{$FOCUSED}#{$RIGHT})::after{
    bottom:calc(50% - #{$th/2});
}

:host(#{$TOGGLED}#{$LEFT})::after, 
:host(#{$TOGGLED}#{$RIGHT})::after{
    bottom:3px;
    width: $th;
    height: calc(100% - 6px);
}

// ----> Vertical placement
/*
:host(#{$SIZE_XS+$TOGGLED})::after, 
:host(#{$SIZE_S+$TOGGLED})::after{
    height:2px;
    bottom: -1px;
}
*/
/* Base state : DISABLED */

:host(#{$DISABLED}){
    opacity:0.5;

    background-color: var(--flavor_primary_disabled);
    border-color: var(--flavor_secondary_disabled);

    & .label{
        color: var(--flavor_contrast_disabled);
    }
}

/* Variants */

:host(#{$FRAME}){
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
}

:host(#{$MINIMAL}){
    background-color: transparent;
    border:none;
}

// ----> RIPPLE

$pad: 2px;
$pad2: $pad * 2;

.ripple-wrapper{
    position: absolute;
    top:-#{$pad};
    left:-#{$pad};
    width: calc(100% + #{$pad2});
    height: calc(100% + #{$pad2});
    border-radius: $btnBorderRadius * 2;
    overflow: hidden;
    opacity: 0.5;
}

.ripple-wrapper .ripple {
    position: absolute;
    border-radius: 50%;
    opacity: 1;
    transform: scale(0);
    animation: ripple 1200ms linear;
    //background-color: transparent;
    //background-color: #fff;
    background-color: var(--flavor_secondary_focused);
    //background: radial-gradient(var(--flavor_secondary_focused), rgba(0,0,0,0));

    @keyframes ripple {
        to {
            transform: scale(4);
            opacity: 0;
        }
    }

}

