/*-------------------------------*/
/*<!---- @nkmjs/ui-library ----!>*/
/*-------------------------------*/

@import './_card';


$cardBorderRadius: 5px;

:host{

    transition: all 0.15s ease;
    
    box-sizing: border-box;
    position: relative;

    border-radius: $cardBorderRadius;
    overflow: hidden;

    background-color:rgba(0,0,0,0.5);
    border: none;

    --size:350px;
    --media-size:150px;

    --flavor-primary-disabled:rgba(0,0,0,0.1);
    --flavor-secondary-disabled:rgba(0,0,0,0.1);
    --flavor-contrast-disabled:rgba(0,0,0,0.5);

    width:var(--size);
    //min-width:var(--size);
    //max-width:var(--size);

    &::after{
        transition: all 0.15s ease;
        background-color: var(--flavor-secondary-focused);
    }

    & .title{
        color: var(--flavor-color);
    }

    & .media{
        background-image: url('../assets/imgs/placeholder.png');
        background-repeat: none;
        background-size: cover;
        background-position: center;
    }

    & .toolbar{
        margin-top: 20px;
        align-self: flex-end;
    }

    @include box-shadow( 2px, 0px, 3px, -1px, rgba(0,0,0,0.5));

}

:host(#{$VERTICAL}){
    
    .media{
        min-height:var(--media-size);
    }

}

:host(#{$HORIZONTAL}){
    
    .media{
        min-width:var(--media-size);
    }

}

.body{
    
    padding:20px;

    & .title{
        display:inline-block;
        margin-bottom: 5px;
    }

    & .subtitle{
        
    }

    & .label{
        
    }
}

// ----> States

:host(#{$IDLE}){
    //opacity:1;
    background-color: var(--flavor-primary-idle);
    border-color: var(--flavor-secondary-idle);

    & .title{
        //color: var(--flavor-contrast-idle);
    }
}

$th: 4px;

:host(#{$FOCUSED}){

    @include box-shadow( 2px, 0px, 3px, -1px, rgba(0,0,0,0.5));

    background-color: var(--flavor-primary-focused);
    border-color: var(--flavor-secondary-focused);

    & .title{
        //color: var(--flavor-contrast-focused);
    }

}

:host(#{$SELECTED}){

    background-color: var(--flavor-primary-selected);
    border-color: var(--flavor-secondary-selected);

    & .title{
        //color: var(--flavor-contrast-selected);
    }

}

:host(#{$SELECTED+$FOCUSED}){

    background-color: var(--flavor-primary-selected-focused);
    border-color: var(--flavor-secondary-selected-focused);

    & .title{
        //color: var(--flavor-contrast-selected-focused);
    }

}

/* Base state : DISABLED */

:host(#{$DISABLED}){
    opacity:0.5;

    background-color: var(--flavor-primary-disabled);
    border-color: var(--flavor-secondary-disabled);

    & .title{
        //color: var(--flavor-contrast-disabled);
    }
}

/* Variants */

:host(#{$FRAME}){
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
}

:host(#{$MINIMAL}){
    background-color: transparent;
    border:none;
}