/* High-level UI Flags */
/* Generics */
/* Interactive states */
/* Interactive additive */
/* Positions */
/* Misc */
/* Sizes */
/* Variants */
/* Color */
/* Min Max Clamp */
/* STR Replace */
/* Colors */
/* Sizes */
/* Font sizes */
/* Boilerplate */
/* High-level UI Flags */
/* Generics */
/* Interactive states */
/* Interactive additive */
/* Positions */
/* Misc */
/* Sizes */
/* Variants */
/* Color */
/* Min Max Clamp */
/* STR Replace */
/* OS Theme mixins */
/* Responsive mixins */
/* Mobile mixins */
/*
@mixin if-not-touch (){
    @media not (pointer:none), not (pointer:coarse) {
        @content;
    }
}

@mixin if-touch (){
    @media (pointer:none), (pointer:coarse) {
        @content;
    }
}
*/
/* Cosmetics */
/* Presets */
/* Color */
/* Min Max Clamp */
/* STR Replace */
/* Colors */
/* Sizes */
/* Font sizes */
/* Boilerplate */
/* High-level UI Flags */
/* Generics */
/* Interactive states */
/* Interactive additive */
/* Positions */
/* Misc */
/* Sizes */
/* Variants */
/* Color */
/* Min Max Clamp */
/* STR Replace */
/* High-level UI Flags */
/* Generics */
/* Interactive states */
/* Interactive additive */
/* Positions */
/* Misc */
/* Sizes */
/* Variants */
/* Color */
/* Min Max Clamp */
/* STR Replace */
/* Scrollbar mixins */
/* Size mixins */
/*
    Repeats the same value for multiple properties
*/
/*
    Spreads a list of value over multiple properties
    value length & properties length must be the same
*/
/* Interactive states mixins */
:host {
  height: var(--size);
  min-height: var(--size);
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  padding-left: 2px;
  padding-right: 2px;
  max-width: var(--size_xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  cursor: pointer;
  --flavor_primary_disabled:rgba(0,0,0,0.1);
  --flavor_secondary_disabled:rgba(0,0,0,0.1);
  --flavor_contrast_disabled:rgba(0,0,0,0.5);
  --flavor_primary_idle: rgba(50, 50, 50, 0);
  --flavor_secondary_idle: rgba(140, 140, 140, 0.5);
  --flavor_contrast_idle: #cccccc;
  --flavor_primary_focused: rgba(76, 76, 76, 0.1);
  --flavor_secondary_focused: rgba(166, 166, 166, 0.1);
  --flavor_contrast_focused: #e5e5e5;
  --flavor_primary_selected: rgba(63, 63, 63, 0.08);
  --flavor_secondary_selected: rgba(153, 153, 153, 0.08);
  --flavor_contrast_selected: #d8d8d8;
  --flavor_primary_selected_focused: rgba(101, 101, 101, 0.15);
  --flavor_secondary_selected_focused: rgba(191, 191, 191, 0.15);
  --flavor_contrast_selected_focused: white;
}

.label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:host(.idle) {
  background-color: var(--flavor_primary_idle);
}
:host(.idle) .label {
  color: var(--flavor_contrast_idle);
}

:host(.focused) {
  background-color: var(--flavor_primary_focused);
}
:host(.focused) .label {
  color: var(--flavor_contrast_focused);
}

:host(.disabled) {
  background-color: var(--flavor_primary_disabled);
}
:host(.disabled) .label {
  color: var(--flavor_contrast_disabled);
}