/*---------------------------------*/
/*<!---- @nkmjs/ui-workspace ----!>*/
/*---------------------------------*/

$workspace_bg_dark: #191919;
$workspace_nav_bg_dark: rgba(#4d4d4d, 0.2);

$workspace_bg_light: #f0f0f0;
$workspace_nav_bg_light: rgba(#d8d8d8, 0.2);

$varname_workspace_bg: '--col_workspace_bg';
$varname_workspace_nav_bg: '--col_workspace_nav_bg';

